.zoom{
    position: fixed;
    bottom: 45px;
    right: 24px;
    height: 70px;
}

.zoom-fab {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e04b4a;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #FFF;
}

.zoom-fab: hover{
    background-color: #4db6ac;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large{
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.zoom1{
    position: fixed;
    bottom: 120px;
    right: 24px;
    height: 70px;
}
.zoom1 a:hover, a:focus {
    color: #121415;
    text-decoration: underline;
}
